@page  "{Id=BANN}"
@model RudysCorner.Website.Pages.PointOfInterestModel
@{
    ViewData["Title"] = "PointOfInterest";
}

<div class="poi">
    <div class="top row">
        <div class="flow col-6">
            <a asp-page="/Index">Welcome</a>
            <span class="separator">></span>
            <span class="current">@Model.Poi.Title</span>
        </div>
        <div class="icon-actions col-6">
            <a href="#" onclick="toggleFavorite(event)"><img id="favorite-icon" class="poi-icon" src="~/img/POIs/not-favorited.png" /></a>
            <a href="#"><img class="poi-icon" src="~/img/POIs/share.png" /></a>
            <a asp-page="/PointOfInterest" asp-route-Id="@Model.Poi.NextStop"><img class="poi-icon" src="~/img/POIs/skip.png" /></a>
            <a asp-page="/FollowUp">End</a>
        </div>
    </div>
    <h1 class="H1">@Model.Poi.Title</h1>
    <h2 class="sub-title">@Model.Poi.Description</h2>
    <div class="row">
        <div class="left-content col-8">
            <img class="img-main" src=@Model.Poi.Image.TrimEnd('/') />
            <div class="description">@Model.Poi.LongDescription</div>
        </div>
        <div class="right-content col-4">
            <a asp-page="/PointOfInterest" asp-route-Id="@Model.Poi.NextStop"><img class="map" src="~/img/POIs/SU_map_labelled1.png" /></a>
            <div class="faq">
                <div class="accordion pull-right" id="accordionExample">
                    <div class="card faq-title">
                        Frequently Asked Questions
                    </div>

                    @for (int i = 0; i < @Model.Poi.FAQ.Length; i++)
                    {
                        var ch = i + "ch";
                        var dt = "#collapse" + i;
                        var ac = "collapse" + i;
                        <div class="card">
                            <div class="card-header" id=@ch>
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target=@dt aria-expanded="false" aria-controls=@ac>
                                        @Model.Poi.FAQ[i]
                                    </button>
                                </h5>
                            </div>

                            <div id=@ac class="collapse" aria-labelledby=@ch data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="answer">@Model.Poi.Answers[i]</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>